asgiref==3.8.1
Django==5.0.6
django-appconf==1.0.6
django-pandas==0.6.7
django-select2==8.1.2
et-xmlfile==1.1.0
mssql-django==1.5
numpy==2.0.0
openpyxl==3.1.4
pandas==2.2.2
pyodbc==5.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
sqlparse==0.5.0
tzdata==2024.1
