html *{
    font-family: calibri;
}
.navbar{
    overflow: hidden;
    background-color: var(--main-bg-color);
    position:fixed;
    top:0;
    width:100%;
}
.navbar a{
    float:left;
    display:block;
    color:rgb(0, 0, 0);
    text-align: center;
    padding:14px 16px;
    text-decoration:none;
}
.navbar a:hover{
    background:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
.navbar p{
    float:right;
    display:block;
    color:rgb(0, 0, 0);
    text-align: center;
    text-decoration:none;
    margin-right: 20px;
    margin-bottom:0;
}
.body{
    --main-bg-color: rgba(255, 119, 255, 0.5);
    margin:0; 
    padding:0; 
    background-image: url("https://storage.opinieouczelniach.pl/cache/profession/1/US8IQsaTWESTb4_2lKTUE3SfHThvY_n4.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-color: black;
}
.header{
    position: relative; 
    height: 80px; 
    width: 100%
}
.header button{
    float:right;
    margin-top: 15px;
    margin-right: 15px;
}
.maindiv{
    position: absolute; 
    width:100%;
    height: 82%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5); 
    text-align: center; 
    padding-top: 0;
    padding-bottom: 0;
}
.beneficiary_list{
    width: 50%;
    margin: 0 auto; 
    position:relative; 
    text-align: justify;
}
.beneficiary_list ul{
    position: relative;
    height:300px;
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
    overflow-y:scroll;
    padding-right: 10px;
    padding-left: 10px;
}

.beneficiary_list li:hover{
    font-weight: bold;
}
.beneficiary_list li:nth-child(even){
    color: rgb(255, 203, 203);
    background-color: rgb(255, 255, 255);
}
.beneficiary_list li:nth-child(odd){
    color:white;
    background-color: rgb(160, 160, 160);
}
.beneficiary_list table{
    margin: auto;
    text-align:center;
    border-collapse: collapse;
    table-layout: fixed;
}
.beneficiary_list li:hover{
    background-color: purple;
    
}

.beneficiary_list a:hover{
    color:white;
}

.beneficiary_list td{
    width:200px;
}
.beneficiary_add a{
    float:left;
    display:block;
    margin-top:5px;
    background: rgba(255,255,255,0.5);
    color:rgb(0, 0, 0);
    text-align: center;
    padding:14px 16px;
    text-decoration:none;
}
.beneficiary_add a:hover{
    background:rgb(255, 255, 255);
    color:rgb(0, 0, 0)
}
.footer{
    position: absolute; 
    width:100%; 
    bottom:0; 
    background-color: var(--main-bg-color);
}
.footer p{
    margin:0 auto;
    text-align: center;
}
.payment_list{
    width: 60%;
    margin: 0 auto; 
    position:relative; 
    height:100%; 
    text-align: justify;  
}
.payment_list ul{
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
    overflow-y:scroll;
    height:200px;
    padding-right: 10px;
    padding-left: 10px;
}

.payment_list li:hover{
    font-weight: bold;
}
.payment_list li:nth-child(even){
    color: rgb(255, 203, 203);
    background-color: rgb(255, 255, 255);
}
.payment_list li:nth-child(odd){
    color:white;
    background-color: rgb(160, 160, 160);
}
.payment_list td{
    text-align:center;
    width: 300px;
}