{% block content %}
    <b>Lista beneficjentów zarejestrowanych w systemie</b>
    <form method="GET" action="">
        <input type="text" name="q" placeholder="Szukaj...">
        <button type="submit">Szukaj</button>
    </form>
    <div class="beneficiary_list">
    <ul >
        {% for beneficiary in page_obj %}
            <li>
                <a href="{% url 'frontend:beneficiary_detail' beneficiary.pk %}"><table border="1"><tr><td>{{ beneficiary.first_name }}</td><td>{{ beneficiary.last_name }}</td><td>{{ beneficiary.place }}</td></tr></table></a>
            </li>
        {% endfor %}
    </ul>
    </div>
    <div class="beneficiary_add">
        {% if page_obj.has_previous %}
            <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page=1">&laquo; Pierwsza</a>
            <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.previous_page_number }}">Poprzednia</a>
        {% endif %}
        <a>Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.</a>
        {% if page_obj.has_next %}
            <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.next_page_number }}">Następna</a>
            <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.paginator.num_pages }}">Ostatnia&raquo;</a>
        {% endif %}
        <a href="beneficiary/add">Dodaj nowego beneficjenta</a>
        <a href="import_beneficiaries">Importuj z pliku</a>
        <a>Aktywni beneficjenci:{{ active_count }}</a>
        <a>Nieaktywni {{ inactive_count }}</a>
        
    </div>
{% endblock content %}