{% extends "frontend/base.html" %}

{% block content %}
<div>
    <h1>{{ beneficiary.first_name }} {{ beneficiary.last_name }}</h1>
    <p>Placówka: {{ beneficiary.place }}</p>
    <p>Nr Konta Bankowego: {{ beneficiary.bank_account_number }}</p>
    <p>data urodzenia: {{ beneficiary.birth_date }}</p>
    <p>Adres: {{ beneficiary.place_of_residence }}</p>
    <p>Numer tel: {{ beneficiary.phone_num }}
    </p>
    {% if beneficiary.is_alive %}</p>
    <p>Beneficjent aktywny</p>
    {% else %}
    <p>Beneficjent nieaktywny</p>
    {% endif %}
    <h2>Historia wypłat:</h2>
    <ul>
        {% for entry in payment_history %}
        <li>{{ entry.payment_list.name }} - {{ entry.date_added }} - {{ entry.amount }}</li>
            {% endfor %}
    </ul>
    <div class="beneficiary_add">
        <a href="edit">Edytuj beneficjenta</a>
    </div>
</div>
{% endblock content %}
