{% extends "frontend/base.html" %}

{% block content %}
    <h1>Startowa strona testowa</h1>
    <p>Do zrobienia</p>
    <ul style="text-align: left;">
        <li>dodać rejestracje i logowanie(jest) dla użytkowników</li>
        <li>dodać transakcje (blokade edycji rekordu podczas edycji tego rekordu w momencie gdy inny użytkownik edytuje)(zrobione)</li>
        <li>dodać import z excela(zrobione)</li>
        <li>dodać wyświetlanie listy wypłat (jest)</li>
        <li>dodać export listy wypłat (zrobione)</li>
        <li>dodać komórkę czy dany beneficjent żyje, jeśli nie żyje to nie można dodać do listy wypłat (zrobione)</li>
        <li>dodać adres zamieszkania, data urodzenia</li>
        <li>dodać wnioski, data złożenia wniosku, i jaki wniosek</li>
        <li>Emeryci - grusza, zapomoga, porzyczka mieszkaniowa, wycieczki</li>
        <li>pracownicy czynni - grusza</li>
        <li>protokół imie nazwisko adres</li>
    </ul>
{% endblock content %}